<div class="imagen-fondo">
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6" style="text-align:center">   
        <h1 class="white-text">
            ¿Eres director o Gerente de Empresa , de Ingenieria<br>
        o de Tecnologías de Información?</h1>
    </div>
    <div class="col-lg-3"></div>

</div>
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6" >
        <h6 class="white-text" style="text-align: justify;">
            En esta Masterclass podras contar con una <strong>GUIA</strong> del proyecto para 
            su transformacion. Además, contarás con el <strong>ANÁLISIS</strong> de procesos,
            seleccion de <strong>TECNOLOGIAS</strong> y su <strong>ESTRATEGIA</strong> para implementarla.
        </h6>
    </div>
    <div class="col-lg-3"></div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div style="text-align: center;">
<div class="row">
    <div class="col-lg-8"></div>
    <div class="col-lg-4">
        <div class="master" ></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-8"></div>
    <div class="col-lg-4">
        <div>
            <h4 class="white-text2" style="margin-bottom: 1px;">TRANSFORMACION</h4>
            <h2 class="white-text2">DIGITAL</h2>
            <br>
            <p class="white-text2">Impartida por el Mtro. Rosalino Zamorano</p><br>
            <p>Martes 08 de Junio<br>Via ZOOM</p>
        </div>
    </div>
</div>
</div>
<div class="row">
    <div class="col-lg-8"></div>
    <div class="col-lg-4">
        <div style="text-align: center;">
           <button style="background-color: teal;">Registrarme Ahora</button>
        </div>
    </div>
</div>
</div>

      
