
<div class="fondo-footer">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-5">
            <p><strong>La Transformación Digital provoca<br> 
                que todo sea mas rápido y eficiente</strong></p>
       <br>
        <p>"La capacidad de adaptarse a ña nueva realidad<br>
            es la clave de la Transformación Digital"
        </p>
        <div>
            <p>
                <iframe width="500" height="315" [src]="getVideoIframe('https://www.youtube.com/watch?v=kqYuyACFVkE')" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </p>
                
        </div>
    </div>
        <div class="col-lg-5">
            <form>
                
            </form>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>
<div class="footer">
    <img  style="text-align: right; "src="../../../assets/img/DMD-Logo.png">
</div>