.fondo-body{
    background-color:#E1E7EA;
}
.estrella{
    background-image: url('../../../assets/img/Estrella.png')!important;
    height: 70px;
    width: 70px;
    background-repeat: no-repeat;
    text-align: center;
}
.flecha{
    background-image: url('../../../assets/img/Flecha.png');
    height: 20px;
    width: 35px;
    background-repeat: no-repeat;

}
.body-second{
    background-color: white;
}