<div class="fondo-body">
   <div class="row">
       <div class="col-lg-4"></div>
       <div class="col-lg-4"><strong>Impartido por <br> Mtro.Rosalino Zamorano</strong></div>
       <div class="col-lg-4"></div>
   </div>

    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-4">
<table  class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <td><div></div></td>
        </tr>
    </thead>
    <tbody style="background-color: white;">
        <tr>
            <td style="text-align: center;">
                <div class="estrella"></div>
            </td>
        </tr>
        <tr>
            <td>Amplia experiencia como Director de Tecnologias de la Información</td>
        </tr>
        
    </tbody>
</table>
        </div>
        <div class="col-lg-6">
            
            <p><img class="flecha">
                Administración de TI, recursos informaticos y contratos de servicios<br>
                en sede principal y 5 subsedes(INTRANET)
            </p><br>
            
            <p><img class="flecha">
                Consolidación de implementación del ERP BAAN V
            </p><br>        
            
            <p><img class="flecha">
                Diseño y construcción de los MDF´s de la INTRANET
            </p><br>
            <p><img class="flecha">
                Migración de operación critica de Data Center Comercial
            </p><br>

        </div>
        <div class="col-lg-1"></div>
    </div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-4">
<table  class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <td><div></div></td>
        </tr>
    </thead>
    <tbody style="background-color: white;">
        <tr>
            <td style="text-align: center;">
                <div class="estrella"></div>
            </td>
        </tr>
        <tr>
            <td>Amplia experiencia como Director de Tecnologias de la Información</td>
        </tr>
        
    </tbody>
    </table>
        </div>
        <div class="col-lg-5">
            <table  class="table table-bordered">
                <thead class="table-dark">
                    <tr>
                        <td><div></div></td>
                    </tr>
                </thead>
                <tbody style="background-color: white;">
                    <tr>
                        <td style="text-align: center;">
                            <div class="estrella"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>Amplia experiencia como Director de Tecnologias de la Información</td>
                    </tr>
                    
                </tbody>
                </table>
        </div>


        <div class="col-lg-2"></div>
    </div>
</div>
<div class="body-second">
<div clas="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4" style="text-align: center;">
       <p><strong>Evento gratuito</strong> dirigido a <br>
        profesionales de la industria
    </p>
    </div>
    <div class="col-lg-4"></div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <p>
                    Nuestro mercado es global,pero<br> nuestra competencia también esta <br>de ese tamaño
                </p>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <p>
                    "Agilidad en los procesos, ventaja<br> competitiva en desarrollo de
                    <br> productos y eficiente aplicación de <br> los recursos con mejor R01"
                </p>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <p>
                    "La transformación Digital provoca <br> que todo sea más rápido y eficiente"
                </p>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</div>
</div>
